<!doctype html>

{% load static %}

<head><meta charset='UTF-8' <meta name="viewport" content="width=device-width, initial-scale=1"> <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <link rel="stylesheet" href={% static 'blog/bootstrap/bootstrap.css' %} media="screen"> <link rel="stylesheet" href={% static 'blog/_assets/css/custom.min.css'%}> <script src="https://kit.fontawesome.com/0088bea87b.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container" ,="," id="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/blog/">gd+blog</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarColor02"
            aria-controls="navbarColor02"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/blog/">Home
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://github.com/nosangho">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Price</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <ul class="nav navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false">{{ user }}</a>
                <div
                    class="dropdown-menu"
                    x-placement="bottom-start"
                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 50px, 0px);">
                    <a class="dropdown-item" href="/accounts/logout/">Log Out</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item">
                <button
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#loginModal">
                    Log in
                </button>
            </li>
        {% endif %}
    </ul>

    {% load socialaccount %}
    <!-- Modal -->
    <div
        class="modal fade"
        id="loginModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Please Log in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a role="button" class="btn btn-primary" href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i>
                        Log in with Google
                    </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-lg-8" ,="," id="main_div">
                {% block content %}{% endblock %}
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4" ,="," id="side_div">
                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Categories Widget -->
                <div class="card my-4" ,="," id="category-card">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    {% for category in category_list %}
                                        <li>
                                            <a href='{{ category.get_absolute_url }}'>
                                                {{ category.name }}
                                                ({{ category.post_set.count}})
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/blog/category/_none/">미분류 ({{ posts_without_category }})</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">
                        You can put anything you want inside of these side widgets. They are easy to
                        use, and feature the new Bootstrap 4 card containers!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src={% static "blog/js/jquery.min.js" %}></script>
<script src={% static "blog/js/popper.min.js" %}></script>
<script src={% static "blog/bootstrap/bootstrap.min.js" %}></script>
<script src={% static "blog/js/custom.js" %}></script>
</body>